:root{
    --primary: #5721fe;
    --secondary: #7c93fb;
    --third: #b7c4fe;
    --dark-blue: #1c2656;
    --dark: #000;
    --dark-secondary: #333;
}

*{
    margin: 0;
    padding: 0;
}

/* styles to tags */
body{
    background-color: var(--dark-secondary);

}

header{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}

main{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
    display: grid;
    gap: 2em;
}

aside{
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    /* tamanho */
    flex: 1;
}

article{
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    /* tamanho */
    flex: 1;
    gap: 2em;
    display: grid;
}

article section{
    background-color: var(--third);
    border-radius: 1em;
    padding: 2em;
}
/* 9 */
section{
    background-color: var(--third);
    border-radius: 1em;
    padding: 2em;   
}
/* 10 */
footer{
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}

/* styles to class */
.init{
    display: grid;
    padding: 2em;
    gap: 2em;
}

.main-body{
    display: flex;
    gap: 2em;
}


