*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-externo{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px;
   
}
h1{
    color: white;
    font-size: 30px;
}
.menu-interno{
    display: flex;
    /* justify-content: space-evenly-os itens são distribuídos igualmente no espaço disponível */
    justify-content: space-evenly;
    padding: 4px;
    width: 1000px;
}
ul{
    color: white;
    font-size: 18px;
}
a{
    color: white;
    /* text-decoration: none-(retira o sublinhado do texto) */
    text-decoration: none; 
}

.menu-redes{
    display: flex;
    /*flex-direction: column-(deixa os itens alinhados na vertical)  */
    flex-direction: column;

}
/* botão de contato */
.button{
    padding: 8px;
    background-color: rgb(158, 15, 139);
    
    border-radius: 15px;
    color: rgb(239, 236, 236);
    /*text-align: center- centratiza o texto   */
    text-align: center;
    
}

footer{
    background-color: rgb(158, 15, 139);
    color: white;
    text-align: center;
    padding: 10px;

}