:root {
  --body-color: #333;
  --text-color: #ca2884;
  --primary-color: #ffa0d6;
  --second-color: #fe80c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);

  width: 100%;
  min-height: 100vh;

  padding: 2em;
}

main {
  background-color: var(--primary-color);
  color: var(--text-color);

  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 700;

  display: grid;
  gap: 1em;

  width: 65%;
  height: 100%;

  padding: 2em;
  margin: 0 auto;

  border-radius: .8em;
}

header {
  background-color: var(--second-color);
  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .8em;
}

section {
  background-color: var(--second-color);
  border-radius: .8em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  padding: 2em;
}

section div:nth-child(1) {
  padding: 13em 0;
  width: 100%;
}

section div:nth-child(2) {
  width: 45%;
}

main section:nth-child(3) {
  padding: 5em 0;
}

div {
  background-color: var(--primary-color);
  border-radius: .8em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 100%;
  height: 100%;
  padding: 2em;
}

section div div:nth-child(1), section div div:nth-child(2) {
  background-color: var(--second-color);

  width: 100%;
  padding: 3em 0;
}

footer {
  background-color: var(--second-color);
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .8em;
}

@media screen and (max-width: 700px) {
  main {
    width: 100%;
    height: 100%;
  }
  
  section div:nth-child(2) {
    width: 100%;
  }
}
