* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

.container {
     /* altera a cor do fundo */
     background-color: rgb(185, 231, 231);
     /* ajusta a altura e a largura do container */
     width: 800px;
     height: 800px;
     /* ativar o display flex */
     display: flex;
     /* centraliza os itens na vertical */
     align-items: center;
     /* ajusta os itens na horizontal */
     justify-content: space-around;
}

nav {
    /* width: 1200px; */
    height: 150px;
    background-color: bisque;
    }

header {
    display: flex;
    flex-direction: column;
}

.primeiro {
    height: 100px;
    background-color: rgb(196, 243, 255);
}

.segundo {
    height: 400px;
    background-color: rgb(196, 255, 211);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.segundo_01 {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 196, 221);
}

.segundo_02 {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 196, 221);
}

.segundo_03 {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 196, 221);
}

.terceiro {
    height: 200px;
    background-color: rgb(214, 203, 50);
    
}

footer {
    height: 150px;
    background-color: rgb(241, 8, 8);
}
