:root {
    /* cores primaria do projeto */
    --primary: #5271fe;
    --secondary: #7c93fb;
    --tertery: #b7c4fe;

    --dark-blue: #1c2656;
    --dark: #000;
    --dark-secondary: #333;

}
/* "*" seleciona todo tipo de tag */
*{
margin: 0;
padding: 0;
}

header {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
    
}

main {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
    /* tamanho - o "vh" ajusta o tamanho do quadro de acordo com a tela do user*/
    /* height: 50vh; */
    /* add grid */
    display: grid;
    gap: 2em
}

aside {
    background-color: var(--tertery);
    border-radius: 1em;
    padding: 2em;
    /* tamanho */
    flex: 1;
}

article {
    background-color: var(--tertery);
    border-radius: 1em;
    padding: 2em;
    /* tamanho */
    flex: 1;
    /* add grid */
    display: grid;
    gap: 2em
}

section {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
}


footer {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}


/* styles to tag's */
body {
    background-color: var(--dark-secondary);
}

/* styles to class */

.init {
    display: grid;
    padding: 2em;
    gap: 2em;
}

.main-body {
    display: flex;
    gap: 2em;
}