/* Utlizando variaveis*/
:root {
    --primary: #5271fe;
    --secondary: #7c93fb;
    --third: #b7c4fe;

    --dark-bdarklue:#1c2656;
    --dark: #000;
    --dark-secondary: #333;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* styles to tag's */
body {
    background-color: var(--dark-secondary);
}
header {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}

main {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
    display: grid;
    gap:2em ;
}
aside {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    /* tamanho*/
    flex: 1;

}

article {
    background-color: var(--secondary);
    border-radius: 1em;
    padding: 2em;
    flex: 1;
    /* tamaho */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

article section {
    background-color: var(--third);
}

section {
    background-color: var(--third);
    border-radius: 1em;
    padding: 2em;
    flex: 1;
}


footer {
    background-color: var(--primary);
    border-radius: 1em;
    padding: 2em;
}
/* styles to class's */

.init {
display: grid;
padding: 2em;
gap: 2em;
}
.main-body {
    display: flex;
    /* display: grid; */
    gap: 2em;
}