* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: black;
}

.container {
    width: 800px;
    height: 800px;
    background: #0000cd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   padding: 10px 0px 0px 0px;
}

header {
    width: 95%;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    border-radius: 5px;
}

.destaques {
    width: 95%;
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    border-radius: 5px;
}
   

.produtos {
    width: 95%;
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.produtos div {
    width: 30%;
    background-color: gray;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    border-radius: 5px;
}

footer {
   width: 95%;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    border-radius: 5px;
}


.copyright {
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
}

p {
    background: black;
}