*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: black;}

    .menu-um {

        background-color: rgb(94, 197, 245);
        display: flex;
        justify-content:space-around;
        padding: 10px;
    
    }


    .menu-dois{
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 70px;
    }

    .menu-tres{
        background-color: rgb(66, 206, 224);
        display: flex;
        justify-content:space-evenly;
        padding: 120px;
    }

    .menu-quatro{
        background-color: white;
        display: flex;
        justify-content: space-around;
        padding: 60px;
    }

    .menu-cinco{
        background-color: rgb(66, 206, 224);
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .menu-seis{
        background-color: white;
        display: block;
        justify-content:flex-start;
        padding: 150px;

    }

    .menu-sete{
        background-color: white;
        display: block;
        justify-content:flex-start;
        padding: 150px;
    }

    .menu-oito{
            background-color: white;
            display: block;
            justify-content:flex-start;
            padding: 150px;
    }
