:root{
    --prymary: #5271fe;
    --secundary: #7c93fb;
    --third: #b7c4fe;
    --dark-blue: #1c2656;
    --dark: #000;
    --dark-secondary: #333
}

*{
margin: 0;
padding: 0;
}

/* styles to tag´s */

body{ background-color: var(--dark-secondary);


}



header{
    background-color: var(--prymary);

    border-radius: 1em;
    padding: 2em;

    
}

main{
    background-color: var(--prymary);
    
    border-radius: 1em;
    padding: 2em;
    display: grid;
    gap: 2em;

/* tamanho */

/* height: 50vh; */
}


footer{
    background-color: var(--prymary);
    
    border-radius: 1em;
    padding: 2em;




}
aside{
    background-color: var(--secundary);

    border-radius: 1em;
    padding: 2em;

        /* tamanho */
        flex: 1;



}


article {
    background-color: var(--secundary);

    border-radius: 1em;
    padding: 2em;
    /* tamanho */

    flex: 1;
    display: grid;
    gap: 2em;

}
article section{


    background-color: var(--third);
}


section{  
     background-color: var(--secundary);

    border-radius: 1em;
    padding: 2em;
    

}





/* styles to class */




.init{

display: grid;
padding: 2em;
gap: 2em;

}
.main-body{

    display: flex;
    gap: 2em;

}
